body {
  margin-left: 280px;
  margin-right: 100px;
}
/*--Header--*/
header {
  border-bottom: 5px solid #9E9E9E;
  height: 100px;
}
.name {
  margin-left: 140px;
  font-family: monospace:
}
.logo {
  float: left;
  position: relative;
  top: 40px;
}
.image {
  margin-top: 40px;
}
/*--main--*/
.section_a {
  width: 800px;
  height:300px;
  float: right;
}
/*--Footer--*/
.section_b{}
